<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Creation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .user-creation-form {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    </style>
    
</head>

                <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="/styles.css"><!-- CSS -->
    <!-- Add this script tag to the head or body section of your HTML file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f3347210b3.js" crossorigin="anonymous"></script><!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<style>
   
    .usercreate {
        margin-left: 220px;
    }
    body{
        background-color: #EBEBEB;
    }
    .content{
        padding: 25px;
        min-height: 100vh;
        min-height: 100vh;
    }
    .section{
        background-color: #FFFFFF;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
       
    }
    
    .header{
        padding: 8px 10px;

        
    }
    
    .input-width{
        width: 260px;
    }
    
  
    #userlist{
        height: 500px;

      overflow: scroll;

      
        
    }
    .space-between{
        justify-content: space-between;
      
    }
 
    
     td, tr{
        border-style: none!important;
    }
    .usercreateform{
        padding: 8px 10px;
    }
    .mb-3 {
        width:750px;
    }

    .btn-add, .btn-cancel {
        width: 375px;
    }
    label{
        font-weight: bold;
    }
 

</style>
</head>

<body>
    <div class="d-flex usercreate">
    <%- include('navbar'); -%>
    <br>
    <div class="content d-flex flex-column space-between flex-grow-1">
        <div class="section header mb-4">
            <h1><i class="fa-regular fa-pen-to-square me-2"></i>Edit User</h1>
        </div>

        <div class="flex-grow-1 ">
            <div class="section d-flex  lex-grow-1 usercreateform">
                <form action="/edit-user" method="post" onsubmit="return validateForm()">
                    <div class="mb-3">
                        <%var firstname = ""%>
                        <%if (typeof fnameEdit != 'undefined') {firstname=fnameEdit} else{firstname = rows[0].fname}%>
                        <label for="firstName" class="form-label">First Name:</label>
                        <input type="text" class="form-control"  id="firstName" name="firstName" value="<%=firstname%>" required>
                    </div>
                    <div class="mb-3">
                        <%var lastname = ""%>
                        <%if (typeof lnameEdit != 'undefined') {lastname=lnameEdit} else{lastname = rows[0].lname}%>
                        <label for="lastName" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="<%=lastname%>" required>
                    </div>
                    <div class="mb-3 ">

                        <%var editrole ="";%>
                        <%if (typeof roleEdit != 'undefined'){roleEdit=roleEdit} else{editrole=rows[0].role}%>
                        <label for="role" class="form-label">Role:</label>
                        <select class="form-select" id="role" name="role" required>
                            <option value="chef" <%if (editrole.toLowerCase() == "chef"){%> selected <%}%>>Chef</option>
                            <option value="cashier" <%if (editrole.toLowerCase() == "cashier"){%> selected <%}%>>Cashier</option>
                            <option value="stock-controller" <%if (editrole.toLowerCase() == "stock-controller"){%> selected <%}%>>Stock Controller</option>
                            <option value="admin" <%if (editrole.toLowerCase() == "admin"){%> selected <%}%>>Admin</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <%var uzername = "";%>
                        <%if (typeof unameEdit != 'undefined') {uzername=unameEdit} else{uzername = rows[0].username}%>
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" class="form-control" id="username" name="username" value="<%=uzername%>" required>
                        <input type="hidden" class="form-control" id="currentUser" name="currentUser" value="<%=currentUserEdit%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                        <div id="passwordMatchError" style="color: red; margin-top: 5px; display: none;">
                            Passwords do not match.
                        </div>
                        <% if (message) { %>
                            <div class="alert alert-danger" role="alert">
                                <%= message %>
                            </div>
                        <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary btn-add">Edit User</button>
                    <a href="/userlist" class="btn btn-danger btn-cancel">Cancel</a>
                </form> 
            </div>
        </div>

        </div>
        </div>


          
<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        
        if (password !== confirmPassword) {
            document.getElementById("passwordMatchError").style.display = "block";
            return false; // Prevent form submission
        }
        
        return true; // Allow form submission
    }
</script>
</body>

</html>

  